*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.profile{

  margin-top:50px;

  &__about{
    float:left;
    width:27%;

    hr{
      margin-top:-10px;
    }

    h3{
      color:#adacac;
    }

    &--status{
      margin-top:20px;

    }

    img{
      width:300px;
      height:300px;
      margin:0 auto;
    }

  &--address{
    margin-top:20px;
    margin-bottom:20px;

    h4{
      float:left;
    }
    #address{
      float:right;
      background-color: #e3f2fd;
    }

    p{
      clear:both;
    }
  }

    &--skills{
      margin-top:20px;

    }
  }








  &__content{
    float:right;
    width:70%;
    //border:1px solid rgba(0, 0, 0, 0.5);


    .marker, .bookmark, h3{
      color:#adacac;
    }


    &--about{
      margin-bottom: 30px;

      div{
        h4, p{
          float:left;
        }

        p{
          margin-left:20px;
        }


      }

      .right{
        float:right;
      }

      .clear{
        clear:both;
      }
    }


    &--ranking{
      clear:both;
      margin-bottom:60px;

      h5, div{
        float:left;
      }

      div{
        i{
          margin-left:7px;
        }
      }


    }


    &--contact{
      clear:both;




      p{
        float:left;

      }

      p~p{
        margin-left:30px;
      }
    }

    &--timeline{
      margin-top:120px;

      clear:both;
      p{
        float:left;


      }
      p~p{
        margin-left:30px;
      }

      div{
        clear:both;

        div{
          clear:both;

          h4{
            float:left;
          }
          p{
            float:right;
          }
        }
      }
      .basic{
        clear:both;
      }
    }
  }

&__footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}
}
